**/.idea/
**/__pycache__/
**/.ipynb_checkpoints
*.vscode/
validation/
logs/
simenv/

setup.py

*.ipynb
*.csv
*.html
*.pkl
*.pyc
*.txt
*.xlsx
*.bak
*.project
*.pydevproject

!requirements.txt
!LICENSE.txt