**/.idea/
**/__pycache__/
**/.ipynb_checkpoints
*.egg-info/
*.vscode/
.settings/
build/
dist/
logs/
simenv/
validation/

*.ipynb
*.csv
*.html
*.pkl
*.pyc
*.txt
*.xlsx
*.bak
*.project
*.pydevproject

!requirements.txt
!LICENSE.txt