/* Hide unused components.*/
div[role=contentinfo] {
	visibility: hidden;
	position: relative;
	height: 0px;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
	visibility: hidden;
	position: relative;
	height: 0px;
}

/*Adjust spacing.*/
p {
    line-height: 24px;
    font-size: 16px;
    margin: 0 0 8px;
}

.rst-content .toctree-wrapper>p.caption, .rst-content h1, .rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
    margin-bottom: 24px;
    margin-top: 24px;
}

.rst-content section ul {
    margin-bottom: 8px;
}